<main
  id="builds"
>
<table class="table">
  <thead>
    <tr class="sticky-top bg-dark">
      <th scope="col" class="col-3">
        <div>{{i18n.buildClassHeaderName}}</div>
        <div class="btn-group">
          <a v-for="c in buildClasses" v-on:click="toggleBuildClass(c)" 
          :class="{'btn':true, 'btn-outline-primary':true, 'active':c===activeBuildClass}" :title="c">
            <img class="boon-icon" :src="'/img/profession/'+c+'.png'">
          </a>
        </div>
        <div class="mt-2" v-if="activeBuildClass && buildSubClasses[activeBuildClass]">
          <div class="btn-group">
            <a v-for="c in buildSubClasses[activeBuildClass]" v-on:click="toggleBuildSubClass(c)" 
            :class="{'btn':true, 'btn-outline-primary':true, 'active':c===activeBuildSubClass}" :title="c">
              <img class="boon-icon" :src="'/img/profession/'+c+'.png'">
            </a>
          </div>
        </div>
      </th>
      <th scope="col" class="col-2">
        <div>{{i18n.buildRoleHeaderName}}</div>
        <div class="btn-group">
          <a v-for="c in buildRoles" v-on:click="toggleBuildRole(c)" 
          :class="{'btn':true, 'btn-outline-primary':true, 'active':c===activeBuildRole}" :title="c">
            <img class="boon-icon" :src="'/img/roles/'+c+'.png'">
          </a>
        </div>
        <div class="mt-2" v-if="activeBuildRole && buildSubRoles[activeBuildRole]">
          <div class="btn-group">
            <a v-for="c in buildSubRoles[activeBuildRole]" v-on:click="toggleBuildSubRole(c)" 
            :class="{'btn':true, 'btn-outline-primary':true, 'active':c===activeBuildSubRole}" :title="c">
              <img class="boon-icon" :src="'/img/roles/'+c+'.png'">
            </a>
          </div>
        </div>
      </th>
      <th scope="col" class="col-2">{{i18n.buildNameHeaderName}}<span v-if="baseConfig.localBuilds"> (LOCAL)</span></th>
      <th scope="col" class="col-2">{{i18n.buildBenchmarkHeaderName}}</th>
      <th scope="col" class="col-3">{{i18n.buildLinksHeaderName}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="build in activeBuilds(builds,activeBuildClass,activeBuildSubClass,activeBuildRole,activeBuildSubRole)">
      <td>
        <div class="build-row-profession">
          <img
            class="build-row-profession-icon"
            :src="'/img/profession/'+build.spec+'.png'"
          >
          <div>
            <div>{{build.class}}</div>
            <span class="li-display-number-details">{{build.spec}}</span>
          </div>
        </div>
      </td>
      <td>
        <div class="build-row-profession">
          <img
            class="build-row-profession-icon"
            :src="'/img/roles/'+build.role+'.png'"
          >
          <div>
            <div>{{build.role.split('-')[0]}}</div>
            <div>
            <span class="li-display-number-details">{{build.role.split('-')[1]}}</span> 
            <img v-if="build.boons && typeof build.boons.alac === 'number'" :title="'Alacrity ('+(build.boons.alac*100).toFixed(0)+'%)'" class="boon-icon" src="/img/Alacrity.png" :style="{opacity:0.2+(build.boons.alac*0.8)}"
            ><img v-if="build.boons && typeof build.boons.quick === 'number'" :title="'Quickness ('+(build.boons.quick*100).toFixed(0)+'%)'" class="boon-icon" src="/img/Quickness.png" :style="{opacity:0.2+(build.boons.quick*0.8)}"
            ><img v-if="build.boons && typeof build.boons.might === 'number'":title="'Might ('+(build.boons.might).toFixed(0)+' Stacks)'" class="boon-icon" src="/img/Might.png" :style="{opacity:0.2+((build.boons.might/25)*0.8)}"
            ><img v-if="build.boons && typeof build.boons.fury === 'number'" :title="'Fury ('+(build.boons.fury*100).toFixed(0)+'%)'" class="boon-icon" src="/img/Fury.png" :style="{opacity:0.2+(build.boons.fury*0.8)}">
          </div>
          </div>
        </div>
      </td>
      <td>{{build.name}}</td>
      <td>
        <div :class="{'bench-old':build.benchOld}" v-if="typeof build.bench ==='number'"><img class="friend-icon" src="/img/Mini_Professor_Miau_Icon.png"> {{build.bench}}</div>
        <div :class="{'bench-old':build.benchOld}" v-if="typeof build.benchWithAllies ==='number'" :title="i18n.buildBenchmarkWithAllies"><img class="friend-icon" src="/img/Mini_Professor_Miau_Icon.png"> {{build.benchWithAllies}} <img class="friend-icon" src="/img/Party.png"></div>
        <div :class="{'bench-old':build.benchOld}" v-if="typeof build.benchLarge ==='number'"><img class="friend-icon" src="/img/Mini_Baron_von_Scrufflebutt.png"
        > {{build.benchLarge}} <span :title="i18n.buildBenchmarkLargeHitbox">({{i18n.buildBenchmarkLargeHitboxShort}})</span></div>
        <div :class="{'bench-old':build.benchOld}" v-if="typeof build.benchConfusion ==='number'"><img class="friend-icon" src="/img/Confusion.png"
        > {{build.benchConfusion}} {{i18n.buildBenchmarkConfusion}}</div>
      </td>
      <td>
        <a class="btn btn-link" v-if="build.gw2skills" :href="'http://en.gw2skills.net/editor/?'+build.gw2skills">Gw2Skills</a>
        <a class="btn btn-link" v-if="build.snowcrows" :href="'https://snowcrows.com'+build.snowcrows">Snow Crows</a>
        <a class="btn btn-link" v-if="build.luckynoobs" :href="'https://lucky-noobs.com'+build.luckynoobs">Lucky Noobs</a>
      </td>
    </tr>
  </tbody></table>
  
</main>