<main
  id="friend"
  class="arc-log-display-wrapper"
>
  <div class="container">
    <div class="jumbotron" v-if="stats">
      <h2 v-if="stats.friend">{{stats.friend.account}}</h2>
      <div v-if="stats.friend" class="friend-badges">
        <span
          v-for="n in (stats.friend.chars||[])"
          class="friend-badge"
        ><img
            class="friend-icon"
            :src="'/img/profession/'+n.profession[0].name+'.png'"
          > <span class="friend-name">{{n.name}}</span></span>
      </div>
      <hr>
      <div v-if="stats.friend">{{i18n.sharedLogsLabel}} {{stats.friend.sharedLogs}}</div>
      <div v-if="stats">
        <span>{{i18n.killsLabel}} {{stats.kills}} {{i18n.cmOfKills(stats.cmKills)}}</span>
        <span>{{i18n.failsLabel}} {{stats.fails}}</span>
      </div>

    </div>
  </div>
  <div class="emptyspacer"></div>
  <div class="arc-log-display arc-log-display-friend">
    <%- await include('loglist'); %>
      <iframe
        v-if="activeLog"
        name="arc-log-display-iframe"
        class="arc-log-display-iframe"
        :src="logPath(activeLog, logs)"
        frameborder="0"
        sandbox="allow-scripts allow-top-navigation-by-user-activation allow-same-origin"
      ></iframe>
  </div>
</main>