<main
  id="friends"
>
<table class="table">
  <thead>
    <tr class="sticky-top bg-dark">
      <th scope="col">{{i18n.friendsHeaderAccount}}</th>
      <th scope="col">{{i18n.friendsHeaderNames}}</th>
      <!--<th scope="col">Groups</th>-->
      <th scope="col" :title="i18n.friendsHeaderSharedKills">{{i18n.friendsHeaderKills}}</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="friend in friends">
      <th scope="row"><a :href="'/friends/'+encodeURIComponent(friend.account)">{{friend.account}}</a></th>
      <td class="friend-badges">
          <span v-for="n in (friend.chars||[])" class="friend-badge">
            <img class="friend-icon" :src="'/img/profession/'+n.profession[0].name+'.png'"> <span class="friend-name">{{n.name}}</span>
          </span>
        </td>
      <!--<td>Column content</td>-->
      <td>{{friend.sharedLogs}}</td>
    </tr>
  </tbody></table>
  
</main>