<div class="arc-list">
  <nav>
    <ul class="pagination justify-content-center">
      <li :class="{'page-item':true, 'disabled':(logsPage <= 0)}"><a class="page-link" @click="showLogPage(0,null,$event)">«</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage <= 0)}"><a class="page-link" @click="showLogPage(Math.max(logsPage-1,0),null,$event)">‹</a></li>
      <li class="page-item disabled w-50 text-center"><a class="page-link">{{(logsPage+1) }}/{{logsMaxPages}}</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage >= logsMaxPages-1)}"><a class="page-link" @click="showLogPage(Math.min(logsMaxPages-1,logsPage+1),null,$event)">›</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage >= logsMaxPages-1)}"><a class="page-link" @click="showLogPage(logsMaxPages-1,null,$event)">»</a></li>
    </ul>
  </nav>
  <div class="list-group">
    <a
      v-for="log in logs"
      :href="'/log/'+log.hash"
      target="arc-log-display-iframe"
      rel="noreferrer noopener"
      :class="{
        'arc-list-row':true, 
        'list-group-item':true, 
        'list-group-item-action':true,
        'd-flex':true, 
        'justify-content-between':true, 
        'align-items-center':true,
        'bg-info':(log.hash === activeLog)}"
      @click="selectLog(log,$event)"
      >
      <template v-if="log.displayCollapse">
      <div class="arc-list-img-box arc-list-img-box-collapse">{{log.displayCollapse}}</div>
      <div class="arc-list-img-bossname">
        <div>
          <span :class="{'arc-list-img-result':true, 'badge':true,'badge-success':log.success, 'badge-danger':!log.success}" :data-rel-time="log.timeEndMs">{{log.timeEndDiff}}</span>
        </div>
      </div>
        <span v-if="log.displayNameCollapse" class="arc-list-img-logby badge badge-primary badge-pill">{{log.recordedBy}}</span>
      </template>
      <template v-if="!log.displayCollapse">
        <div class="arc-list-img-box">
          <img
            v-if="log.fightIcon"
            class="arc-list-preview-icon"
            :src="log.fightIcon"
            alt=""
            rel="noreferrer noopener"
          >
        </div>
        <div class="arc-list-img-bossname">
          <div>{{log.fightName}}</div>
          <div>
            <span :class="{'arc-list-img-result':true, 'badge':true,'badge-success':log.success, 'badge-danger':!log.success}" :data-rel-time="log.timeEndMs">{{log.timeEndDiff}}</span>
          </div>
        </div>
        <span class="arc-list-img-logby badge badge-primary badge-pill">{{log.recordedBy}}</span>
      </template>
  </a>
  <nav>
    <ul class="pagination justify-content-center">
      <li :class="{'page-item':true, 'disabled':(logsPage <= 0)}"><a class="page-link" @click="showLogPage(0,$event)">«</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage <= 0)}"><a class="page-link" @click="showLogPage(Math.max(logsPage-1,0),$event)">‹</a></li>
      <li class="page-item disabled w-50 text-center"><a class="page-link">{{(logsPage+1) }}/{{logsMaxPages}}</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage >= logsMaxPages-1)}"><a class="page-link" @click="showLogPage(Math.min(logsMaxPages-1,logsPage+1),$event)">›</a></li>
      <li :class="{'page-item':true, 'disabled':(logsPage >= logsMaxPages-1)}"><a class="page-link" @click="showLogPage(logsMaxPages-1,$event)">»</a></li>
    </ul>
  </nav>
</div>
</div>