<main
class="arc-log-display-wrapper"
  
  id="logs"
>
<div class="arc-log-display">
  <%- await include('loglist', {logs: logs,page:page,maxPages:maxPages}); %>
  <% if(logs[0]){ %>
    <iframe
      name="arc-log-display-iframe"
      class="arc-log-display-iframe"
      src="/log/<%=logs[0].hash%>"
      frameborder="0"
      sandbox="allow-scripts allow-top-navigation-by-user-activation allow-same-origin"
    ></iframe><%}%>
  </div>
</main>