<main
class="arc-log-display-wrapper"
  
  id="logs"
>
<div class="emptyspacer"></div>
<div class="arc-log-display">
  <%- await include('loglist'); %>
    <iframe v-if="logPath"
      name="arc-log-display-iframe"
      class="arc-log-display-iframe"
      :src="logPath"
      frameborder="0"
      sandbox="allow-scripts allow-top-navigation-by-user-activation allow-same-origin"
    ></iframe>
  </div>
</main>