<main id="overview"> 
  <div class="wings">
    <div class="wing" v-for="wing in wings">
      <h3 v-if="!wing.w_img">W{{wing.w}}</h3>
      <h3 v-if="wing.w_img"><img
        class="li-display-img"
        :src="'/img/'+wing.w_img"
        :alt="wing['name_'+lang]"
        :title="wing['name_'+lang]"
      ></h3>
        <a v-for="step in wing.steps" :href="step.triggerID && ('/boss/'+encodeURIComponent(step.triggerID))" :class="{
          'wing-step':true,
          'wing-step-completed':(
            (wing.isStrike && wing.isStrikeWeekly &&accounts.find(a=>a.completedStrikesWeekly&&a.completedStrikesWeekly[step.triggerID])) || 
            (wing.isStrike && accounts.find(a=>a.completedStrikesDaily&&a.completedStrikesDaily[step.triggerID]))) || 
            accounts.find(a=>a.completedSteps&&a.completedSteps.includes(step.id)
          )
        }"><img
          class="wing-boss-icon"
          :src="'/img/'+step.img"
          :alt="step['name_'+lang]"
          >
          <svg class="wing-boss-border" viewBox="0 0 300 300">
            <path v-for="p in svgBossBorder(accounts, step, wing)" :d="p.d" :style="{fill:p.fill,opacity:p.opacity}" />
          </svg>
      
          <div class="wing-step-tooltip">
            <div class="wing-step-tooltip-title">{{step['name_'+lang]}}:</div>
            <template v-if="!step.kpName && totalKps.raidBossKp && totalKps.raidBossKp[step.id] > 0">
<div v-for="acc in accounts">
  <span v-if="!wing.isStrike &&(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark">✓</span>
  <span v-if="!wing.isStrike &&!(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&!(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&!(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="step.hasCM && (acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm">CM✓</span>
  <span v-if="step.hasCM && !(acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm wing-step-tooltip-mark-open">CM🗙</span>
  <strong :style="{color:acc.color}">{{acc.accountInfo.name}}:</strong> <span>{{(acc.kps.raidBossKp[step.id]||0)}} KP</span>
</div>
            </template>
            <template v-if="step.kpName && totalKps[step.kpName] && totalKps[step.kpName] > 0">
<div v-for="acc in accounts">
  <span v-if="!wing.isStrike &&(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark">✓</span>
  <span v-if="!wing.isStrike &&!(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&!(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&!(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="step.hasCM && (acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm">CM✓</span>
  <span v-if="step.hasCM && !(acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm wing-step-tooltip-mark-open">CM🗙</span>
  <strong :style="{color:acc.color}">{{acc.accountInfo.name}}:</strong> <span>{{(acc.kps[step.kpName]||0)}} KP</span>
</div>
            </template>
            <template v-if="!(!step.kpName && totalKps.raidBossKp && totalKps.raidBossKp[step.id] > 0) && !(step.kpName && totalKps[step.kpName] && totalKps[step.kpName] > 0)">
<span class="li-display-number-details">{{i18n.noKP}}</span>
<div v-for="acc in accounts">
  <span v-if="!wing.isStrike &&(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark">✓</span>
  <span v-if="!wing.isStrike &&!(acc.completedSteps&&acc.completedSteps.includes(step.id))" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && !wing.isStrikeWeekly &&!(acc.completedStrikesDaily&&acc.completedStrikesDaily[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark">✓</span>
  <span v-if="wing.isStrike && wing.isStrikeWeekly &&!(acc.completedStrikesWeekly&&acc.completedStrikesWeekly[step.triggerID])" class="wing-step-tooltip-mark wing-step-tooltip-mark-open">🗙</span>
  <span v-if="step.hasCM && (acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm">CM✓</span>
  <span v-if="step.hasCM && !(acc.completedCMs&&acc.completedCMs[step.triggerID])" class="wing-step-tooltip-mark-cm wing-step-tooltip-mark-open">CM🗙</span>
  <strong :style="{color:acc.color}">{{acc.accountInfo.name}}</strong>
</div>
            </template>
            <span v-if="wing.isStrike && !wing.isStrikeWeekly" class="li-display-number-details">{{i18n.dailyResetInfo}}</span>
            <span v-if="!wing.isStrike || wing.isStrikeWeekly" class="li-display-number-details">{{i18n.weeklyResetInfo}}</span>
        </div>
          </a>
    </div>
  </div>
  <div class="li-section">
    <div class="li-display">
      <img
        class="li-display-img"
        src="/img/1302744.png"
        :alt="i18n.labelLi"
      >
      <span class="li-display-number">{{totalKps.li}}</span>
      <span class="li-display-number-per-acc">
        <span class="li-display-acc" v-for="acc in accounts">
          <span class="li-display-acc-name" :style="{color:acc.color}">{{acc.accountInfo.name}}</span>:
          <span class="li-display-acc-kp" >{{i18n.showLiLd(acc.kps.li||0)}}</span>
        </span>
      </span>
    </div>
    <div class="li-display">
      <img
        class="li-display-img"
        src="/img/1202328.png"
        :alt="i18n.labelFractal"
      >
      <span class="li-display-number">{{totalKps.fractal}}</span>
      
      <span class="li-display-number-per-acc">
          <span class="li-display-acc" v-for="acc in accounts">
            <span class="li-display-acc-name" :style="{color:acc.color}">{{acc.accountInfo.name}}</span>:
            <span class="li-display-acc-kp" >{{i18n.showKp(acc.kps.fractal||0)}}</span>
          </span>
      </span>
    </div>
    <div class="li-display">
      <img
        class="li-display-img"
        src="/img/2314490.png"
        :alt="i18n.labelBoneSkinner"
      >
      <span class="li-display-number">{{totalKps.boneSkinner}}</span>
      <span class="li-display-number-per-acc">
        <span class="li-display-acc" v-for="acc in accounts">
          <span class="li-display-acc-name" :style="{color:acc.color}" >{{acc.accountInfo.name}}</span>:
          <span class="li-display-acc-kp" >{{i18n.showKp(acc.kps.boneSkinner||0)}}</span>
        </span>
      </span>
    </div>
    <div class="li-display" v-if="zhaitaffy">
      <img
        class="li-display-img"
        src="/img/591443.png"
        :alt="i18n.labelZhaitaffy1000"
      >
      <span class="li-display-number">{{Math.floor(totalKps.zhaitaffy / 1000)}}</span>
      <img
        class="li-display-img"
        src="/img/591442.png"
        :alt="i18n.labelZhaitaffy"
      >
      <span class="li-display-number">{{(totalKps.zhaitaffy % 1000)}}</span>
    </div>
  </div>
  <template v-for="acc in accounts.filter(acc=>acc.kps && acc.kps.unopenedBoxes && acc.kps.unopenedBoxes.length > 0&& acc.accountInfo && acc.accountInfo.name)">
    <template v-for="wing in wings">
      <template v-for="step in wing.steps">
        <template v-for="box in acc.kps.unopenedBoxes.filter(box=>step.id === box.boss)">
        <div class="li-display">
          <img
            class="li-display-img"
            src="/img/1302747.png"
          >
          <span class="li-display-number">{{box.item.count}}x {{step['name_'+lang]}}</span>
          <span class="li-display-number-details">{{box.item["@char"] ||""}} {{'('+acc.accountInfo.name+') '}}</span>
          <span v-if="box.bossKp > 0" class="li-display-number">{{box.bossKp}}-{{box.bossKp*5}}x <img
            class="li-display-img"
            :src="'/img/'+step.img"
          ></span>
          <span class="li-display-number">{{box.item.count}}x <img
            class="li-display-img"
            src="/img/1302744.png"
          ></span>
        </div>
        </template>
      </template>
    </template>
  </template>
</main>